footer {
    background-color: rgb(100, 194, 150);
}

.foot,h1 {
    top: 0%;
    margin: 0%;
    border: 0px;
    padding: 20px;
    font-style: italic;
    font-family: Allegro;
    color: white;
    text-align: center;
    display: block;
}
