<form class="container" [formGroup]="profileform" (ngSubmit)="onSubmit()">
  
    <div class="row">
      <div class="col-sm-2">
        <label for="Firstname">Firstname </label>
      </div>
      <div class="col-sm-4">
        <input type="text" name="Firstname" id="Firstname" formControlName="firstname">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-2">
        <label for="Lastname">Lastname </label>
      </div>
      <div class="col-sm-4">
        <input type="text" name="Lastname" id="Lastname" formControlName="lastname">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-2">
        <label for="Phone">Phone number </label>
      </div>
      <div class="col-sm-3">
        <input type="number" name="Phone" id="Phone" formControlName="phoneno">
      </div>
    <!--
      <div class="col-sm-2">
        <button type="submit" class="btn btn-warning btn-sm">Verify Phone</button>
      </div>
    -->
    </div>

    <div class="row">

      <div class="col-sm-2">
        <label for="Email">Email </label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="Email" id="Email" formControlName="emailid">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-warning btn-sm">Verify Email</button>
      </div>
      
    </div>

  <!--
    <div class="row">

      <div class="col-sm-2">
        <label>Role </label>
      </div>
      <div class="col-sm-3">
        <input type="radio" name="Role" id="Role">
        <label for="Role">Student</label>
        <input type="radio" name="Role" id="Role">
        <label for="Role">Staff</label>
        <input type="radio" name="Role" id="Role">
        <label for="Role">Mentor</label>
      </div>

    </div>
  -->
  
    <div class="row">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
    </div>  
  
</form>