<form class="container" [formGroup]="profileform" (ngSubmit)="onSubmit()">
  
    <div class="row">
      <div class="col-sm-2">
        <label for="Firstname">Firstname </label>
      </div>
      <div class="col-sm-4">
        <input type="text" name="Firstname" id="Firstname" formControlName="firstname">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-2">
        <label for="Lastname">Lastname </label>
      </div>
      <div class="col-sm-4">
        <input type="text" name="Lastname" id="Lastname" formControlName="lastname">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-2">
        <label for="Phone">Phone number </label>
      </div>
      <div class="col-sm-3">
        <input type="number" name="Phone" id="Phone" formControlName="phoneno">
        <div [hidden]='!(profileform.controls.phoneno.invalid && (profileform.controls.phoneno.touched || profileform.controls.phoneno.dirty))'
                  class="invalid-message">
                    Should be a valid Phone Number 
        </div>
      </div>
    <!--
      <div class="col-sm-2">
        <button type="submit" class="btn btn-warning btn-sm">Verify Phone</button>
      </div>
    -->
    </div>

    <div class="row">

      <div class="col-sm-2">
        <label for="Email">Email </label>
      </div>
      <div class="col-sm-3">
        <input type="email" name="Email" id="Email" formControlName="emailid">
        <div [hidden]='!(profileform.controls.emailid.invalid && (profileform.controls.emailid.touched || profileform.controls.emailid.dirty))'
                  class="invalid-message">
                    Should be a valid Email ID
        </div>
      </div>
      <div class="col-sm-2">
        <input type="button" class="btn btn-warning btn-sm" (click)="verifyEmail()" value="VERIFY EMAIL" [disabled]="!profileform.controls.emailid.value || profileform.controls.emailid.invalid">
      </div>
      
    </div>

  <!--
    <div class="row">

      <div class="col-sm-2">
        <label>Role </label>
      </div>
      <div class="col-sm-3">
        <input type="radio" name="Role" id="Role">
        <label for="Role">Student</label>
        <input type="radio" name="Role" id="Role">
        <label for="Role">Staff</label>
        <input type="radio" name="Role" id="Role">
        <label for="Role">Mentor</label>
      </div>

    </div>
  -->
  
    <div class="row">
      <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="profileform.invalid">Update</button>
    </div>  
  
</form>