<footer class="page-footer font-small blue pt-4 fixed-bottom">
  <div class="container-fluid text-center text-md-left">
      <div class="row">             
          <div class="col-xs-6">
              <h5><b>Links</b></h5>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Resources</a></li>
                  <li><a href="#">Discussion Forum</a></li>
                  <li><a href="#">About us</a></li>
              </ul>
          </div>
          <div class="col-xs-6">
              <h5><b>Our Address</b></h5>
              <address>
                  Madras Institute of Technology,<br>
                  Chrompet, Chennai-600044<br>
                  <i class="fa fa-phone fa-lg"></i> : +91-9944545099<br>
                  <i class="fa fa-envelope fa-lg"></i> : <a href="mailto:anushiya1509@gmail.com">IEA-MIT</a>
              </address>
            </div>
     </div>
     <div class="row">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://ieamit.com/"> ieamit.com</a>
      </div>
    </div>
  </div>
</footer>