<form class='box' [formGroup]="loginform" (ngSubmit)='onSubmit()'>
  
  <label>Username</label> 
    <input type="text" formControlName="username" placeholder="username" autocomplete="username">
    <div [hidden]='!(loginform.controls.username.invalid &&
    (loginform.controls.username.touched || loginform.controls.username.dirty))'
    class='invalid-message'>
      Username should be atleast 1 characters
</div>
    <br>

  <label>
    Password  </label> 
    <input type="password" formControlName="password" autocomplete="current-password">
    <div [hidden]='!(loginform.controls.password.invalid &&
    (loginform.controls.password.touched || loginform.controls.password.dirty))'
    class='invalid-message'>
      password should be atleast 3 characters
  </div>
<br>

  <button type="submit" [disabled]='loginform.invalid'>Login</button>
  <div class='bottomline'>
    <span>Don't have an account !  </span>
  <a routerLink='../signup'>SignUp</a>
  </div>

</form>