<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card card-signin">
        <div class="card-body">
          <h5 class="card-title text-center"><b>Login</b></h5>
            <form class="form-signin" [formGroup]="loginform" (ngSubmit)="onSubmit()">
              
              <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" autocomplete="username" required >
                <label for="inputUsername">Username</label>
                <div [hidden]='!(loginform.controls.username.invalid && (loginform.controls.username.touched || loginform.controls.username.dirty))'
                class="invalid-message">
                      Username should be atleast 1 characters
                </div>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" autocomplete="current-password" required>
                <label for="inputPassword">Password</label>
                <div [hidden]='!(loginform.controls.password.invalid && (loginform.controls.password.touched || loginform.controls.password.dirty))'
                  class="invalid-message">
                    Password should be atleast 3 characters
                </div>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1" checked (change)="rememberme = !rememberme">
                <label class="form-check-label" for="gridCheck1" style="padding-left: .5rem;">
                  Remember me
                </label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]='loginform.invalid'>Login</button>
              <a class="d-block text-center mt-2 small" routerLink="../signup">Don't have an account? Sign Up here</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>