<form class='box' [formGroup]="loginform" (ngSubmit)='onSubmit()'>
  
  <label>
    <p>E-Mail ID :</p>
    <input type="text" formControlName="username" placeholder="email">
    <span [hidden]='!(loginform.controls.username.invalid && 
    (loginform.controls.username.touched || loginform.controls.username.dirty))'
    class='invalid-message'>
      email is invalid
    </span>
  </label> <br>

  <label>
    Password :
    <input type="password" formControlName="password">
    <span [hidden]='!(loginform.controls.password.invalid &&
    (loginform.controls.password.touched || loginform.controls.password.dirty))'
    class='invalid-message'>
      password should be atleast 3 characters
    </span>
  </label> <br>

  <input type="submit" [disabled]='loginform.invalid' value='Login'>
  <div>
    <span>Don't have an account !  </span>
  <a routerLink='../signup'>SignUp</a>
  </div>

</form>