a {
    text-decoration: none;
    color: rgb(1, 22, 1);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.selected {
    color: brown;
}

.head {
    background-color: rgb(146, 55, 168);
    font-size: 30px;
}

h1,h3 {
    top: 0%;
    margin: 0%;
    border: 0px;
    padding: 0px;
    font-style: italic;
    font-family: Allegro;
    color: white;
}

.logo {
    height: 100px;
    width: 100px;
    display: inline;
    float: left;
    overflow: hidden;
    padding-left: 500px;
    padding-right: 40px;
}