a {
    text-decoration: none;
    color: rgb(1, 22, 1);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.selected {
    background-color: #34495e;
    font-size: larger;
    color: white;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 20px;
}

.head {
    background-color: rgb(90, 194, 133);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

h1,h3 {
    top: 0%;
    margin: 0%;
    border: 0px;
    padding: 0px;
    font-style: italic;
    font-family: Allegro;
    color: white;
}

.logo {
    height: 100px;
    width: 100px;
    float: left;
    overflow: hidden;
    margin-left: 500px;
    margin-right: 40px;
    box-shadow: 0px 0px 20px 6px #499647;
}