<div class='content container'>
    <div class="para left btn-primary">
        <h1>Discussion forum</h1>
        <ul>To provide a way for students to easily connect with the Mentors.</ul>
        <ul>Students can ask their doubts and anyone can answer. Because of this answered students get a reward</ul>
        <ul> To help Students to stand out from the crowd through their Accomplishments.</ul>
        
        <h1>Weekly challenges</h1>
        <ul>We conduct a weekly challenges for students. It will improves their knowledge</ul>
        <ul>Technical and non-technical questions will be asked. It gives the willpower to learn something new</ul>
    </div>
    <div class="para right btn-primary">
        <h1>Guided Projects</h1>
        <ul>Anyone can post their projects with sources and others can refer it</ul>
        <ul>It will help to improve their practical knowledge</ul>
        <ul>Anyone can post their undoned project ideas and interested can do it.</ul>
        <ul>You can also guided by someone for your ideas</ul>
        
        <h1>Resources</h1>
        <ul>It contains the subject wise materials like notes and recommended books</ul>
        <ul>Also contains required materials to improve your knowledge</ul>
        <ul>Placement materials can be shared</ul>
    </div>
</div>